# Core functionality - changes here should be rare!
/src/app.py                   @Thelovablewolf1
/src/backend/database.py      @Thelovablewolf1
/src/backend/routers/auth.py  @Thelovablewolf1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Thelovablewolf1
